@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@1,900&display=swap");


* {
  padding: 0%;
  margin: 0%;
}

img {
  max-width: 100%;
}

.home {
  text-align: -webkit-center;
}

/* <-- section_1 --> */
.section_1 {
  background-color: #f6f6f9;
  padding-top: 5vh;
}

.judul-komponen {
  font-style: normal;
  font-weight: 700;
  text-align: left;
  color: #222222;
}

.colom-pertama {
  align-self: center;
}

.ket-komponen {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: left;
  color: #222222;
  padding-top: 3%;
  padding-bottom: 3%;
}

.button-komponen {
  padding-top: 3%;
  text-align: -webkit-left;
}

.button-komponen .btn-1 {
  padding: 12px;
  border-radius: 20px;
  background-color: #ed5f07;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.button-komponen .btn-1:hover {
  background-color: #ed5f09;
  color: #222222;
}

.img-mobile {
  display: none;
}

.row_home {
  justify-content: space-between;
}

/* <-- container 2 --> */
.section_2 {
  text-align: -webkit-center;
  background-color: #ffffff;
  padding-bottom: 20px;
}

.head-sect2 {
  padding: 20px;
  font-weight: 600;
  color: #222222;
}

.content-sect2 {
  width: 440px;
  height: 129px;
}

.content-sect2:hover {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 25) 1px 1px 4px 0px;
}

.icon-sect2 {
  align-self: center;
}

.subhead-sect2 {
  align-self: center;
  text-align: left;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
  border-bottom: solid 1px #ed5f07;
}

.li-sect3 {
  font-size: 18px;
}

/* <-- section_3 --> */
#section-3 {
  padding-top: 5%;
  text-align: -webkit-center;
  background-color: #ffffff;
  padding-bottom: 7%;
}

.head-sect3 {
  font-weight: 700;
}

.content-sect3 {
  cursor: pointer;
  margin: 2rem;
  border-radius: 30px;
  border: #ffffff solid 1px;
  min-height: 230px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.desc-sect3 {
  display: none;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.content-sect3:hover {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 25) 1px 1px 4px 0px;
  background-color: #f66a1e;
  color: #ffffff;
}

.content-sect3:hover .desc-sect3 {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* <-- section_4 --> */
#section-4 {
  background-color: #edf8ff;
  padding-top: 5vh;
  padding-bottom: 15vh;
}

.section-4 {
  background-image: url(../../assets/background/bg-sect4.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 18vw;
  height: 70vh;
  margin-bottom: 2rem;
}

.row-sect4 {
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: -webkit-left;
  font-weight: 600;
}

.content-sect4-22 {
  padding-left: 5vw;
}

.content-sect4-1 {
  margin-bottom: 9vh;
}

.content-sect4-3 {
  margin-top: -5vh;
  margin-bottom: 7vh;
}

.content-sect4-4 {
  margin-bottom: 6vh;
}

/* section-5 Komship */
#section-komship {
  background-color: #fcebbe;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.benefit {
  width: 80%;
  margin-top: 2rem;
}

.benefit-head {
  position: relative;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  font-family: "Poppins";
}

.benefit .list-benefit::marker {
  color: #f95031;
  font-family: "Poppins";
}

.benefit .logo {
  width: 120px;
  margin: auto;
}

.benefit .content {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins";
  text-align: -webkit-left;
}

.benefit .content .COD {
  font-size: 32px;
  color: #f95031;
}

.benefit-table-desktop {
  margin-top: 50px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
}

.benefit-table-desktop .row {
  border-radius: 12px;
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 10px;
  overflow-x: hidden;
  font-family: "Poppins";
}

.benefit-table-desktop .head {
  background-color: #ffffff;
  font-family: "Poppins";
  font-size: 20px;
}

.benefit-table-desktop .subhead {
  background-color: #f6f6f9;
  font-family: "Poppins";
  font-size: 20px;
}

.benefit-table-mobile {
  display: none;
}

.benefit-table-mobile .btn-menu {
  width: auto;
  margin-right: 6px;
  color: #c2c2c2;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
}

.benefit-table-mobile .btn-menu:hover {
  opacity: 0.7;
}

.benefit-table-mobile .btn-menu:focus {
  box-shadow: unset;
}

.benefit-table-mobile .active {
  color: #ff6a3a;
  border: 1px solid #ff6a3a;
}

.recommend .card {
  border: none;
  background-color: transparent;
  overflow: hidden;
}

.recommend .card .image {
  height: 180px;
  display: flex;
}

.recommend .card img {
  margin-top: auto;
}

.recommend .card .content {
  background-color: #ffffff;
  padding: 20px;
  min-height: 26vh;
  border-radius: 0px 0px 20px 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins";
}

/* end section-5 Komship */
/* <-- section_7 --> */
#section-7 {
  margin-top: -12vh;
  margin-bottom: -15vh;
  padding-bottom: 30vh;
  text-align: -webkit-center;
}

.row-sect7 {
  background-color: #f66a1e;
  width: 70%;
  min-height: 25vh;
  text-align: left;
  padding: 1rem;
  border-radius: 37px;
}

.col1-sect7 {
  align-self: center;
  border-right: solid 2px #ffffff;
}

.head-sect7 {
  font-weight: 700;
  color: #ffffff;
}

.col2-sect7 {
  align-self: center;
}

.subhead-sect7 {
  font-weight: 600;
  color: #ffffff;
  padding-left: 2rem;
}

.bold-sect7 {
  font-weight: 600;
  font-size: 20px;
}

/* Layanan */
.mobile-layanan {
  background-color: #EDF8FF;
}

.layanan {
  text-align: -webkit-left;
  margin-top: 15vh;
  margin-bottom: 20vh;
}

.head-layanan {
  padding-bottom: 2vh;
  margin-bottom: 5vh;
  border-bottom: solid 1px #ed5f07;
}

.subhead-layanan {
  background-color: #fe773b;
  color: #ffffff;
  border-radius: 20px;
  margin: 10px 0px 10px 0px;
}

.content-layanan {
  background-color: #ffffff;
  color: #fe773b;
  border-radius: 20px;
  padding: 20px;
  margin-top: -20px;
  margin-bottom: 1rem;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

/* alur */
.carousel-item {
  background-image: url(../../assets/vector/line.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.ci-right {
  background-position-x: 12rem;
}

.ci-left {
  background-position-x: -85rem;
}

.line-alur {
  margin-bottom: -5rem;
}

.card-alur {
  width: 220px;
  height: 280px;
  border-radius: 20px;
  margin-right: 2rem;
  margin-left: 2rem;
  justify-content: space-evenly;
}

.content-card {
  font-weight: 600;
  padding: 5px;
}

.carousel-inner {
  padding: 1em;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}

.carousel-control-prev,
.carousel-control-next {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  position: relative !important;
  padding-top: 5vh;
  margin: 0vw;
  display: contents;
}

.custom__material-icons {
  font-size: 34px;
  background-color: #ed5f07;
  opacity: 0.7;
  color: #ffffff;
  border-radius: 16px;
}

.custom__material-icons:hover {
  background-color: #ed5f07;
  opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none;
  margin: 1rem;
  width: 3rem;
  height: 3rem;
}

/* <-- section_8 --> */
#section-8 {
  text-align: -webkit-center;
  margin-top: 6rem;
  padding-bottom: 50px;
}

.sect-8 {
  background-color: #ed5f07;
  width: 37%;
  border-radius: 15px;
  text-align: left;
  z-index: -1;
}

.head-sect8 {
  background-color: #fcd4be;
  border-top-right-radius: 15px;
  color: #ed5f07;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 10px;
}

.judul-sect8 {
  text-align: -webkit-right;
}

.subhead-sect8 {
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}

.bottom-sect8 {
  padding-bottom: 20px;
  border-bottom: solid 3px #ffffff;
}

.icon-sect8 {
  margin-left: 20px;
  margin-bottom: 20px;
}

.row-sect8 {
  margin-left: 30px;
}

.kardus-sect8 {
  margin-left: 35vw;
  margin-top: -15vh;
  display: block;
  position: absolute;
}

/* section9 */
#section-9 {
  margin-top: 5%;
  padding-bottom: 5%;
  background-color: #F6F6F9;
}

.sect9 {
  text-align: -webkit-center;
  padding-top: 5%;
}

.head-sect9 {
  color: #ed5f07;
  margin-bottom: 20px;
  width: 70%;
}

.subhead-sect9 {
  color: #151515;
  font-weight: 600;
  margin-top: 3%;
  margin-bottom: 3%;
}

.button .btn-danger {
  background-color: #ed5f07;
  padding: 15px;
  border-radius: 16px;
  font-weight: 600;
}

.row-layanan {
  background: none;
  border: none;
}

.custom__class {
  background: none;
  color: #FFFFFF;
  padding: 30px 0px 30px 0px;
}

.custom__class::after {
  background-image: url(../../assets/vector/bottom-arrow.svg);
  margin-right: 1rem;
}

.custom__class:not(.collapsed) {
  box-shadow: inset 0 0px 0 rgb(0 0 0 / 0%);
}

@media (max-width: 350px) {
  .benefit-table-mobile {
    display: block;
  }

  .benefit-table-desktop {
    display: none;
  }

  .benefit-table-mobile .btn-menu {
    font-size: 14px;
  }

  .benefit-table-mobile .subhead {
    background-color: #F6F6F9;
    margin: 1px;
    border-radius: 0px 8px 8px 0px;
    padding: 5px 0px 20px 0px;
    font-size: 14px;
  }

  .benefit-table-mobile .head {
    background-color: #FFFFFF;
    margin: 1px;
    border-radius: 8px 0px 0px 8px;
    font-weight: 600;
    padding: 20px 0px 20px 0px;
    font-size: 14px;
  }

  .benefit-table-mobile .content {
    background-color: #FFFFFF;
    margin: 1px;
    border-radius: 0px 8px 8px 0px;
    padding: 20px 5px 20px 5px;
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  h2 {
    font-size: 20px;
  }

  .section_1 {
    padding-top: 3vh;
    text-align: center;
  }

  .model-img {
    display: none;
  }

  .judul-komponen {
    text-align: center;
  }

  .ket-komponen {
    text-align: center;
    font-size: 14px;
  }

  .button-komponen {
    text-align: -webkit-center;
  }

  .row-sect3 {
    display: none;
  }

  .head-sect3 {
    margin-bottom: 7vh;
  }

  .content-mobile-sect3 {
    margin-top: 5vh;
    margin-bottom: 3vh;
    box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 12%);
    width: 80%;
    border-radius: 28px;
  }

  .content-mobile-sect3 img {
    margin-top: -10vh;
  }

  #section-4 {
    padding-bottom: 10vh;
  }

  .section-4 {
    background-image: none;
    height: 45vh;
  }

  .content-sect4-22 {
    padding-left: 0vw;
  }

  .content-sect4-1 {
    margin-bottom: 2vh;
  }

  .content-sect4-3 {
    margin-bottom: 2vh;
    margin-top: 2vh;
  }

  .content-sect4-4 {
    margin-bottom: 2vh;
  }

  #section-7 {
    padding-bottom: 0px;
    margin-top: 0vh;
    margin-bottom: 0vh;
  }

  .head-sect7 h2 {
    font-size: 20px;
  }

  .row-sect7 {
    width: 100%;
    border-radius: 0px;
  }

  .col1-sect7 {
    text-align: center;
    padding-bottom: 10px;
    border-right: none;
    border-bottom: solid 2px #ffffff;
  }

  .subhead-sect7 {
    text-align: center;
    padding-left: 0px;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .bold-sect7 {
    font-size: 16px;
  }

  .benefit .content .COD {
    font-size: 14px;
  }

  .benefit .logo {
    width: 70px;
  }

  .img-layanan {
    display: none;
  }

  .sect-8 {
    width: 100%;
  }

  .kardus {
    display: none;
  }

  .head-sect9 {
    width: 100%;
  }

  #alur {
    background-position-x: 22vw;
  }

  .sect9 .button button {
    font-size: 12px;
    padding: 10px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    margin: 0rem 1rem 3rem 1rem;
  }

  .carousel-item {
    margin-right: 0;
    flex: 0 0 100%;
    display: block;
  }

  .carousel-inner {
    display: flex;
  }
}

@media (min-width: 350px) and (max-width: 575px) {

  .carousel-control-next,
  .carousel-control-prev {
    margin: 0rem 1rem 3rem 1rem;
  }

  .section_1 {
    max-height: 18rem;
    padding-top: 3vh;
    padding-left: 10px;
  }

  .img-dekstop {
    display: none;
  }

  .img-mobile {
    display: block;
    text-align: -webkit-right;
    margin-top: -25%;
  }

  .ket-komponen {
    font-size: 14px;
  }

  .row_home {
    justify-content: start;
    margin-top: 3%;
  }

  .button-komponen .btn-1 {
    font-size: 12px;
  }

  .section_2 {
    padding-left: 10px;
  }

  .row_sect2 {
    text-align: -webkit-left;
  }

  .head-sect2 {
    padding: 0px;
    margin-bottom: 5vh;
  }

  .judul-komponen {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  .content-sect2 {
    margin-top: 2rem;
    width: 340px;
    font-size: 12px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 25) 1px 1px 4px 0px;
  }

  .subhead-sect2 {
    padding-bottom: 10px;
  }

  .icon-sect2 {
    text-align: -webkit-center;
  }

  .row-sect3 {
    display: none;
  }

  .head-sect3 h2 {
    font-size: 20px;
    margin-bottom: 7vh;
  }

  .content-mobile-sect3 {
    margin-top: 5vh;
    margin-bottom: 3vh;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.12);
    width: 80%;
    border-radius: 28px;
  }

  .content-mobile-sect3 img {
    width: 135px;
    margin-top: -10vh;
  }

  #section-4 {
    padding-bottom: 1rem;
  }

  .section-4 {
    background-image: none;
    max-height: 22rem;
  }

  .row-sect4 {
    font-size: 12px;
    margin-bottom: 3vh;
  }

  .content-sect4-22 {
    padding-left: 0vw;
  }

  .content-sect4-1 {
    margin-bottom: 1rem;
  }

  .content-sect4-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .content-sect4-4 {
    margin-bottom: 1rem;
  }

  #section-7 {
    padding-bottom: 0px;
    padding-top: 0%;
    margin-top: 0vh;
    margin-bottom: 0vh;
  }

  .head-sect7 h2 {
    font-size: 24px;
  }

  .row-sect7 {
    width: 100%;
    border-radius: 0px;
    padding: 1rem;
  }

  .col1-sect7 {
    text-align: center;
    padding-bottom: 10px;
    border-right: none;
    border-bottom: solid 2px #ffffff;
  }

  .subhead-sect7 {
    text-align: center;
    padding-left: 0px;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .bold-sect7 {
    font-size: 17px;
  }

  .head-sect5 h2 {
    font-size: 20px;
  }

  .head-sect5 img {
    width: 80px;
  }

  .benefit {
    width: 90%;
  }

  .benefit .content {
    font-size: 12px;
    text-align: center;
  }

  .benefit .content .COD {
    font-size: 16px;
    color: #f95031;
  }

  .benefit .logo {
    margin-top: 1rem;
    width: 70px;
  }

  .benefit-table-mobile .head {
    font-size: 12px;
  }

  .benefit-table-mobile li {
    font-weight: 400;
  }

  .benefit-table-mobile p {
    font-weight: 400;
  }

  .recommend {
    margin-top: 1rem !important;
  }

  .recommend .card {
    width: 80%;
  }

  .recommend .card .content {
    font-size: 16px;
    min-height: 18vh;
  }

  .row-layanan {
    justify-content: center;
  }

  .layanan {
    margin-top: 0vh;
    margin-bottom: 5vh;
  }

  .head-layanan {
    text-align: -webkit-center;
  }

  .subhead-layanan {
    text-align: left;
  }

  .custom__class {
    padding: 15px 0px 15px 0px;
  }

  .mobile-layanan {
    text-align: -webkit-center;
  }

  .img-layanan {
    display: none;
  }

  .content-layanan {
    font-size: 12px;
    text-align: left;
  }

  .sect-8 {
    width: 80%;
  }

  .kardus {
    display: none;
  }

  .head-sect9 {
    font-size: 20px;
    width: 100%;
  }

  .subhead-sect9 {
    font-size: 12px;
    width: 70%;
  }

  .benefit-table-desktop {
    display: none;
  }

  .benefit-table-mobile {
    display: block;
  }

  .benefit-table-mobile .subhead {
    background-color: #F6F6F9;
    margin: 1px;
    border-radius: 0px 8px 8px 0px;
    padding: 5px 0px 20px 0px;
  }

  .benefit-table-mobile .head {
    background-color: #FFFFFF;
    margin: 1px;
    border-radius: 8px 0px 0px 8px;
    font-weight: 600;
    padding: 20px 0px 20px 0px;
  }

  .benefit-table-mobile .content {
    background-color: #FFFFFF;
    margin: 1px;
    border-radius: 0px 8px 8px 0px;
    padding: 20px 5px 20px 5px;
  }

  .sect9 .button button {
    font-size: 12px;
    padding: 10px;
  }

  .carousel-item {
    margin-right: 0;
    flex: 0 0 100%;
    display: block;
  }

  .carousel-inner {
    display: flex;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #row-mobile-sect3 {
    display: none;
  }

  .section-4 {
    background-image: none;
    height: 60vh;
  }

  .row-sect4 {
    font-size: 12px;
    margin-bottom: 3vh;
  }

  .content-sect4-22 {
    padding-left: 0vw;
  }

  .content-sect4-1 {
    margin-bottom: 1rem;
  }

  .content-sect4-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .content-sect4-4 {
    margin-bottom: 1rem;
  }

  #section-7 {
    padding-bottom: 0px;
    padding-top: 0%;
    margin-top: 0vh;
    margin-bottom: 0vh;
  }

  .head-sect7 h2 {
    font-size: 24px;
  }

  .row-sect7 {
    width: 100%;
    border-radius: 0px;
    padding: 1rem;
  }

  .col1-sect7 {
    text-align: center;
    padding-bottom: 10px;
    border-right: none;
    border-bottom: solid 2px #ffffff;
  }

  .subhead-sect7 {
    text-align: center;
    padding-left: 0px;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .bold-sect7 {
    font-size: 17px;
  }

  .benefit-table-desktop {
    display: none;
  }

  .benefit-table-mobile {
    display: block;
  }

  .benefit-table-mobile .btn-menu {
    width: auto;
    margin-right: 6px;
    color: #c2c2c2;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 4px 12px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
  }

  .benefit-table-mobile .btn-menu:hover {
    opacity: 0.7;
  }

  .benefit-table-mobile .btn-menu:focus {
    box-shadow: unset;
  }

  .benefit-table-mobile .active {
    color: #ff6a3a;
    border: 1px solid #ff6a3a;
  }

  .benefit-table-mobile .subhead {
    background-color: #F6F6F9;
    margin: 1px;
    border-radius: 0px 8px 8px 0px;
    padding: 5px 0px 20px 0px;
  }

  .benefit-table-mobile .head {
    background-color: #FFFFFF;
    margin: 1px;
    border-radius: 8px 0px 0px 8px;
    font-weight: 600;
    padding: 20px 0px 20px 0px;
  }

  .benefit-table-mobile .content {
    background-color: #FFFFFF;
    margin: 1px;
    border-radius: 0px 8px 8px 0px;
    padding: 20px 5px 20px 5px;
  }

  .recommend .card {
    max-width: 58vw;
  }

  .img-layanan {
    display: none;
  }

  .sect-8 {
    width: 65%;
  }

  .carousel-item {
    margin-right: 0;
    flex: 0 0 50%;
    display: block;
  }

  .carousel-inner {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .img-dekstop {
    display: block;
  }

  .img-mobile {
    display: none;
  }

  #row-mobile-sect3 {
    display: none;
  }

  .row-mobile-sect3 {
    display: none;
  }

  h2 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .section_1 {
    padding-top: 2vh;
  }

  #section-4 {
    padding-bottom: 5vh;
  }

  .section-4 {
    background-size: 45%;
    background-position-x: 22vw;
    height: 53vh;
  }

  .section-4 p {
    font-size: 12px;
  }

  .content-sect4-1 {
    margin-bottom: 5vh;
  }

  .content-sect4-3[data-v-6d720fe5] {
    margin-top: 0vh;
    margin-bottom: 4vh;
  }

  .content-sect4-4 {
    margin-bottom: 2vh;
  }

  .bold-sect7 {
    font-size: 16px;
  }

  .benefit .content .COD {
    font-size: 24px;
  }

  .card-body .logo {
    width: 20%;
  }

  .benefit-table-desktop .head {
    font-size: 16px;
  }

  .benefit-table-desktop .subhead {
    font-size: 16px;
  }

  .benefit-table-desktop li {
    font-size: 12px;
  }

  .benefit-table-desktop p {
    font-size: 12px;
  }

  .recommend .card .image {
    height: 100px;
  }

  .recommend .card .content {
    font-size: 12px;
  }

  .layanan {
    margin-bottom: 10vh;
  }

  .custom__class {
    padding: 15px 0px 15px 0px;
  }

  .card-alur {
    width: 180px;
    height: 220px;
  }

  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.3333%;
    display: block;
  }

  .carousel-inner {
    display: flex;
  }

  #section-8 {
    padding-bottom: 0px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .row-mobile-sect3 {
    display: none;
  }

  .section-4 {
    background-position-x: 16vw;
    height: 70vh;
    background-position-y: 15vh;
    background-size: 55%;
  }

  .carousel-item {
    margin-right: 0;
    flex: 0 0 25%;
    display: block;
  }

  .carousel-inner {
    display: flex;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .row-mobile-sect3 {
    display: none;
  }

  .content-sect4-22 {
    padding-left: 0vw;
  }

  .section-4 {
    background-position-x: 14vw;
    background-position-y: 12vh;
    height: 60vh;
  }

  .carousel-item {
    margin-right: 0;
    flex: 0 0 25%;
    display: block;
  }

  .carousel-inner {
    display: flex;
  }
}

@media (min-width: 1401px) {
  .row-mobile-sect3 {
    display: none;
  }

  .content-sect4-22 {
    padding-left: 0vw;
  }

  .section-4 {
    background-position-x: 20vw;
    background-position-y: 14vh;
    height: 60vh;
  }

  .carousel-item {
    margin-right: 0;
    flex: 0 0 25%;
    display: block;
  }

  .carousel-inner {
    display: flex;
  }
}