@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@1,900&display=swap");
* {
  padding: 0%;
  margin: 0%;
}
img {
  max-width: 100%;
}

.home {
  text-align: -webkit-center;
  padding-top: 12vh;
}

/* scrolltotop */
.scrolltotop button {
  width: 60px;
  background-color: #ed5f07;
  margin-bottom: 20px;
  padding-bottom: 50px;
  padding-top: 10px;
  border: none;
  color: #ffffff;
  border-radius: 10px;
  text-align-last: center;
}
.scrolltotop {
  text-align-last: end;
  margin-right: 10px;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  position: fixed;
}

/* <-- section_1 --> */
.section_1 {
  background-color: #f6f6f9;
}
.judul-komponen {
  font-style: normal;
  font-weight: 700;
  text-align: left;
  color: #222222;
}
.colom-pertama {
  align-self: center;
}
.ket-komponen {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: left;
  color: #222222;
  padding-top: 3%;
  padding-bottom: 3%;
}
.button-komponen {
  padding-top: 3%;
  text-align: -webkit-left;
}
.button-komponen .btn-1 {
  padding: 12px;
  border-radius: 20px;
  background-color: #ed5f07;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.button-komponen .btn-1:hover {
  background-color: #ed5f09;
  color: #222222;
}
.img-mobile {
  display: none;
}
/* <-- container 2 --> */
.section_2 {
  text-align: -webkit-center;
  background-color: #ffffff;
  padding-bottom: 40px;
}
.head-sect2 {
  padding: 20px;
  font-weight: 600;
  color: #222222;
}
.content-sect2 {
  width: 440px;
  height: 129px;
}
.content-sect2:hover {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 25) 1px 1px 4px 0px;
}
.icon-sect2 {
  align-self: center;
}
.subhead-sect2 {
  align-self: center;
  text-align: left;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
  border-bottom: solid 1px #ed5f07;
}
.li-sect3 {
  font-size: 18px;
}
/* <-- section_3 --> */
#section-3 {
  padding-top: 5%;
  text-align: -webkit-center;
  background-color: #ffffff;
  padding-bottom: 7%;
}
.head-sect3 {
  font-weight: 700;
}
.content-sect3 {
  cursor: pointer;
  margin: 2rem;
  border-radius: 30px;
  border: #ffffff solid 1px;
  min-height: 230px;
  box-shadow: rgba(0, 0, 0, 25) 0px 4px 4px 0px;
}
.desc-sect3 {
  display: none;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}
.content-sect3:hover {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 25) 1px 1px 4px 0px;
  background-color: #f66a1e;
  color: #ffffff;
}
.content-sect3:hover .desc-sect3 {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* <-- section_4 --> */
#section-4 {
  background-color: #EDF8FF;
  padding-top: 5vh;
  padding-bottom: 10vh;
}
.section-4 {
  background-image: url(../../assets/background/bg-sect4.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 15vw;
  height: 60vh;
}
.row-sect4 {
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: -webkit-left;
  font-weight: 600;
}
.content-sect4-1 {
  margin-bottom: 9vh;
}
.content-sect4-3 {
  margin-top: -5vh;
  margin-bottom: 7vh;
}
.content-sect4-4 {
  margin-bottom: 6vh;
}
/* section-5 Komship */
#section-komship {
  background-color: #FCEBBE;
  padding-top: 5vh;
  padding-bottom: 10vh;
}
.benefit {
  width: 80%;
  margin-top: 2rem;
}
.benefit-head {
  position: relative;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  font-family: 'Poppins';
}

.benefit .list-benefit::marker {
  color: #F95031;
  font-family: 'Poppins';
}

.benefit .logo {
  width: 120px;
  margin: auto;
}

.benefit .content {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Poppins';
  text-align: -webkit-left;
}

.benefit-table-desktop {
  margin-top: 50px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
}

.benefit-table-desktop .row {
  border-radius: 12px;
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 10px;
  overflow-x: hidden;
  font-family: 'Poppins';
}

.benefit-table-desktop .head {
  background-color: #FBA63C;
  font-family: 'Poppins';
  font-size: 20px;
}

.benefit-table-desktop .subhead {
  background-color: #FF6A3A;
  font-family: 'Poppins';
  font-size: 20px;
}

.benefit-table-mobile {
  display: none;
}

.benefit-table-mobile .btn-menu {
  width: auto;
  margin-right: 6px;
  color: #C2C2C2;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins';
}

.benefit-table-mobile .btn-menu:hover {
  opacity: 0.7;
}

.benefit-table-mobile .btn-menu:focus {
  box-shadow: unset;
}

.benefit-table-mobile .active {
  color: #FF6A3A;
  border: 1px solid #FF6A3A;
}

.recommend .card {
  border: none;
  background-color: transparent;
  overflow: hidden;
}

.recommend .card .image {
  height: 180px;
  display: flex;
}

.recommend .card img {
  margin-top: auto;
}

.recommend .card .content {
  background-color: #ffffff;
  padding: 20px;
  min-height: 25vh;
  border-radius: 0px 0px 20px 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  font-family: 'Poppins';
}

/* end section-5 Komship */
/* <-- section_7 --> */
#section-7 {
  background-color: #f6f6f9;
  padding-bottom: 80px;
  text-align: -webkit-center;
  
}
.row-sect7 {
  background-color: #F66A1E;
  width: 80%;
  text-align: left;
  padding: 2rem;
  border-radius: 37px;
  margin-top: -1vh;
}
.col1-sect7 {
  align-self: center;
  border-right: solid 2px #ffffff;
}
.head-sect7 {
  font-weight: 600;
  color: #ffffff;
}
.col2-sect7 {
  align-self: center;
}
.subhead-sect7 {
  font-weight: 600;
  color: #ffffff;
  padding-left: 2rem;
}
.bold-sect7 {
  font-weight: 600;
  font-size: 20px;
}

/* <-- section_8 --> */
#section-8 {
  text-align: -webkit-center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.sect-8 {
  background-color: #ed5f07;
  width: 37%;
  border-radius: 15px;
  text-align: left;
  z-index: -1;
}
.head-sect8 {
  background-color: #FCD4BE;
  border-top-right-radius: 15px;
  color: #ed5f07;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 10px;
}
.judul-sect8 {
  text-align: -webkit-right;
}
.subhead-sect8 {
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}
.bottom-sect8 {
  padding-bottom: 20px;
  border-bottom: solid 3px #ffffff;
}
.icon-sect8 {
  margin-left: 20px;
  margin-bottom: 20px;
}
.row-sect8 {
  margin-left: 30px;
}
.kardus{
  width: 55%;
  text-align: -webkit-right;
  margin-top: -20vh;
}
/* section9 */
#section-9 {
  margin-top: 5%;
  margin-bottom: 5%;
}
.sect9 {
  text-align: -webkit-center;
  padding-top: 5%;
}
.head-sect9 {
  color: #ed5f07;
  margin-bottom: 20px;
  width: 70%;
}
.subhead-sect9 {
  color: #151515;
  font-weight: 600;
  margin-top: 3%;
  margin-bottom: 3%;
}
.button .btn-danger {
  background-color: #ED5F07;
  padding: 15px;
  border-radius: 16px;
  font-weight: 600;
}
